{% extends 'base.html' %}
{% load static %}
{% load recipe_tags %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'Recipe/css/forms.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'Recipe/css/menu.css' %}"/>
{% endblock %}

{% block content %}

{% show_menu service_menu_name %}

<div class="content-container">
    <h1 class="item-center-text">Добро пожаловать!</h1>

    <p class="item-center-text">Вы успешно зарегистрировались на сайте! Для входа в систему необходимо авторизоваться по этой <a href="{% url 'users:login' %}">ссылке</a>
    </p>
</div>
{% endblock %}
